body{
    background-color: #007aff;
}


.container {
 
    min-height: 100vh;
    background-color: #007aff;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
}
.bg-success, .bg-danger {
    color: white;
}

#endScreen{
    text-align: center;
}

#endScreen img {
    width: 100%;
}


.button-row{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
